# eclipse conf file
.settings
.classpath
.project
.cache

# idea conf files
.idea
*.ipr
*.iws
*.iml

# building
target
build
tmp
dist
output

# misc
.DS_Store

/dependency-reduced-pom.xml

/.gradle/
/.run/
/.qodana/
/chain.crt
/private.pem
/lib/
/gradle/
